<template>
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body borde">
            <div>
                <div id="accordion" class="mt-4">
                   <div class="" id="headingOne">
                        <h5 class="mb-0">
                            <span class="pd-2 my-4 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="mdi mdi-menu-right" style="color:black;font-weight:bold"></i>Visitas Programadas
                            </span>
                        </h5>
                   </div>
                   <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <visitas :proyecto="proyecto"></visitas>
                   </div>

                   
                    <div class="mt-3" id="headingTwo">
                        <h5 class="mb-0">
                            <span class="collapsed pd-2 my-4" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="mdi mdi-menu-right" style="color:black;font-weight:bold"></i>Reuniones 
                            </span>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            aca van las reuniones
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>


<script>
import Visitas from './Visitas';
export default {
    components: {Visitas},
    props:{
        proyecto:{
            type:Object,
            required:true
        }
    },
    created(){
        this.$store.commit('setProyecto', this.proyecto);
        this.$store.dispatch('visitasProyecto');
        this.$store.dispatch('listarTercerosProyecto');
        this.$store.dispatch('getPersonalProyecto');
        this.$store.dispatch('getGrupoFormulariosProyecto');
    }
};
</script>
