<template>
  <v-card>
    <v-card-title>
      <button title="Programar Nueva Visita" class="btn btn-primary mb-2" @click="crear()">
        <i class="mdi mdi-flask mdi-note-plus"></i>
          Programar Nueva Visita
      </button>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="visitas"
      :search="search"
    >
    <template v-slot:items="props">
        <td>{{ props.item.tercero }}</td>
        <td class="text-xs-right">{{ props.item.nucleo }}</td>
        <td class="text-xs-right">{{ props.item.sede_nombre }}</td>
        <td class="text-xs-right">{{ props.item.departamento }}</td>
        <td class="text-xs-right">{{ props.item.municipio }}</td>
        <td class="text-xs-right" width="114px">{{ props.item.fecha_visita }}</td>
        <td class="text-xs-right">{{ props.item.inspector }}</td>
        <td v-if="props.item.completo">
            <button class="btn btn-sm btn-inverse-primary btn-rounded" @click="ver(props.item.id)">
              <i class="mdi mdi-eye"></i>
            </button>
        </td>
        <td v-else width="140px">
            <button class="btn btn-sm btn-inverse-info btn-rounded" @click="editar(props.item.id)">
              <i class="mdi mdi-pencil-box-outline"></i>
            </button>
            <button class="btn btn-sm btn-inverse-danger btn-rounded" @click="eliminar(props.item.id)">
              <i class="mdi mdi-delete"></i>
            </button>
        </td>
      </template>
      <template v-slot:no-results>
        <v-alert :value="true" color="error" icon="warning">
          Tu busqueda para "{{ search }}" no obtuvo resultados.
        </v-alert>
      </template>
    </v-data-table>
  </v-card>
</template>


<script>
export default {
    props:{
        proyecto:{
            type:Object,
            required:true
        }
    },
    data () {
      return {
        search: '',
         headers: [
              {
                text: this.proyecto.tipo_terceros,
                align: 'left',
                sortable: false,
                value: 'tercero'
              },
              { text: (this.proyecto.tipo_nucleo == 0) ? 'no tiene' : this.proyecto.tipo_nucleo, value: 'nucleo' },
              { text: this.proyecto.tipo_lugar, value: 'sede_nombre' },
              { text: 'Departamento', value: '´departamento' },
              { text: 'Municipio', value: 'municipio' },
              { text: 'Fecha', value: 'fecha_visita' },
              { text: 'Inspector', value: 'inspector' },
              { text: 'Opciones', value: 'opciones' }
          ],
      }
    },
    computed:{
      visitas(){
        return this.$store.getters.getVisitas;
      }
    },
    methods:{
      crear(){
        EventBus.$emit('created');
      },
      ver(id){
         window.location.href=`/visitas/${id}/ver`
      },
      editar(id){
        let visitaIndex = this.visitas.findIndex(e => e.id = id);
        EventBus.$emit('editarVisita', visitaIndex);
      },
      eliminar(id){
        this.$store.dispatch('eliminarVisita', id)
        .then(res => {
          this.$store.dispatch('notificationDanger', {
                    heading:'Gestionar Visitas', 
                    message:`se han eliminado una nueva visita`
                });
        });
      }
    }
  }
</script>
