<template>
    <div>
        <div class="card-body">
           <table-visita :proyecto="proyecto"></table-visita>
        </div>
        <div class="modal fade" id="programarVisita" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Programar Visita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                    <div class="row my-3">
                        <div class="input-group col-12">
                            <label class="input-group-text col-sm-4 bg-light">{{proyecto.tipo_terceros}}: </label>
                             <select v-model="terceroIndex" class="form-control col-sm-9">
                                <option v-for="(tercero, index) in terceros_proyecto" :value="index">{{tercero.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="input-group col-12">
                            <label class="input-group-text col-sm-3 bg-light">{{proyecto.tipo_nucleo}}: </label>
                             <select v-model="institutoIndex" class="form-control col-sm-9">
                                <option :value="-1">Sin {{proyecto.tipo_nucleo}}</option>
                                <option v-for="(inst, index) in institutos" :value="index">{{inst.nombre}}</option>
                             </select>
                         </div>
                    </div>
                    <div class="row my-3">
                        <div class="input-group col-12">
                            <label class="input-group-text col-sm-3 bg-light">{{proyecto.tipo_lugar}}: </label>
                             <select v-model="sedeIndex" class="form-control col-sm-9">
                                <option v-for="(sede, index) in sedes" :value="index">{{sede.nombre}}</option>
                             </select>
                         </div>
                    </div>
                    <div class="row my-3">
                        <div class="input-group col-12">
                           <label class="input-group-text col-sm-4 bg-light">Departamento: </label>
                            <input type="text" v-model="sede.departamento" class="form-control col-sm-9" readonly>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="input-group col-12">
                            <label class="input-group-text col-sm-3 bg-light">Ciudad: </label>
                             <input type="text" v-model="sede.ciudad" class="form-control col-sm-9" readonly>
                         </div>
                    </div>
                    <div class="row my-3">
                        <div class="input-group col-12">
                            <label class="input-group-text col-sm-4 bg-light">Dirección: </label>
                             <input type="text" v-model="sede.direccion" class="form-control col-sm-9" readonly>
                         </div>
                    </div>
                    <div class="row my-3">
                        <div class="input-group col-12">
                           <label class="input-group-text col-sm-3 bg-light">Barrio: </label>
                            <input type="text" v-model="sede.barrio" class="form-control col-sm-9" readonly>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="input-group col-12">
                           <label class="input-group-text col-3 bg-light">Fecha: </label>
                            <input type="date" class="form-control" v-model="fecha_visita" required>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="input-group col-12">
                            <label class="input-group-text col-sm-3 bg-light">Inspector: </label>
                             <select v-model="personalIndex" class="form-control col-sm-9">
                                    <option :value="index" v-for="(personal, index) in personal_proyecto">{{personal.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="input-group col-12">
                            <label class="input-group-text col-sm-4 bg-light">Grupo de formularios: </label>
                             <select v-model="gFormularioIndex" class="form-control col-sm-9">
                                <option :value="index" v-for="(gf, index) in grupo_formularios">{{gf.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="input-group col-12">
                           <label class="input-group-text col-sm-3 bg-light">Observación:</label>
                            <input type="text" v-model="observacion" class="form-control col-sm-9">
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" @click="crearVisita()">{{modal}}</button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>


<script>
import TableVisita from './TableVisita';
export default {
    components: {TableVisita},
    props:{
        proyecto:{
            type:Object,
            required:true
        }
    },
    data:function(){
        return{
          modal: 'Crear',
          terceroIndex:0,
          institutoIndex:-1,
          sedeIndex:0,
          personalIndex:0,
          gFormularioIndex:0,
          observacion:'',
          fecha_visita:new Date().toISOString().substr(0, 10),
          select_visita_id:null
        }
    },
    computed:{
      visitas(){
        return this.$store.getters.getVisitas;
      },
      grupo_formularios(){
        return this.$store.getters.getGrupoFormulariosProyecto;
      },
      personal_proyecto(){
        return this.$store.getters.getPersonalProyecto.inspectores;
      },
      terceros_proyecto(){
          return  this.$store.getters.getTercerosProyecto.filter(i => i.contarSedes > 0);
      },
      tercero_select_proyecto(){
        this.institutoIndex = -1;
        this.sedeIndex = 0;
        return  this.$store.getters.getTercerosProyecto[this.terceroIndex];
      },
      institutos(){
          return this.tercero_select_proyecto.sedes.filter(i => i.tipo == 'instituto' && i.sedes > 0)
      },
      sedes(){
        return this.institutoIndex < 0  
                ? this.tercero_select_proyecto.sedes.filter(i => i.tipo == 'sede' && i.instituto_id == null) 
                : this.tercero_select_proyecto.sedes.filter(i => i.instituto_id == this.institutos[this.institutoIndex].id);
      },
      sede(){
        return this.sedes[this.sedeIndex];
      },
      datos(){
        return {
          'observacion':this.observacion, 
          'fecha_visita':this.fecha_visita, 
          'sede_id':this.sedes[this.sedeIndex].id, 
          'proyecto_id':this.$store.getters.getProyecto.id, 
          'personal_proyecto_id':this.personal_proyecto[this.personalIndex].id,
          'g_formulario_id':this.grupo_formularios[this.gFormularioIndex].id
        }
      }
    },
    created(){
        let visita = null;
        EventBus.$on('editarVisita', (index)=>{
            visita = this.visitas[index];
            this.select_visita_id = visita.id;
            this.terceroIndex = this.terceros_proyecto.findIndex(e => e.nombre == visita.tercero);
            this.institutoIndex = this.institutos.length > 0 ? this.institutos.findIndex(e => e.nombre == vivita.instituto) : -1;
            this.sedeIndex = this.sedes.findIndex(e => e.id == visita.sede.id);
            this.personalIndex = this.personal_proyecto.findIndex(e => e.nombre == visita.inspector);
            this.gFormularioIndex = this.grupo_formularios.findIndex(e => e.id == visita.g_formulario);
            this.observacion = visita.observacion;
            this.fecha_visita = visita.fecha_visita;
            this.modalShow('Actualizar');
        });

        EventBus.$on('created', ()=>{
            this.modalShow('Crear');
        });
    },
    watch:{
        terceroIndex:function(value){
            console.log('ter_in', value);
        }
    },
    methods:{
      modalShow(tipo){
        this.modal = tipo;
        $('#programarVisita').modal();
      },
      crearVisita(){
        if(this.modal == 'Crear'){
            this.$store.dispatch('generarVisita', this.datos)
            .then(res => {
              this.$store.dispatch('notificationSuccess', {
                        heading:'Gestionar Visitas', 
                        message:`se han generado una nueva visita`
                    });
              $('#programarVisita').modal('hide');
            });
        }else{
             this.$store.dispatch('actualizarVisita', {data:this.datos, visita_id:this.select_visita_id})
            .then(res => {
              this.$store.dispatch('notificationSuccess', {
                        heading:'Gestionar Visitas', 
                        message:`se han actualizado una nueva visita`
                    });
                $('#programarVisita').modal('hide');
            });
        }
       
      },
      resetIndex(){
        this.institutoIndex = -1;
        this.sedeIndex = 0;
      }
    }
};
</script>
