<template>
  <div>
      <v-list
        class="p-3"
        v-for="(message, index) in allMessages"
        :key="index"
      >
        <div class="row mr-10" v-if="user.id===message.user_id">
          <div class="direct-chat-msg col left align-self-start" >
            <div class="direct-chat-info clearfix"> 
              <span class="direct-chat-name pull-left">{{message.user.name}}</span> 
              <span class="direct-chat-timestamp pull-right">{{message.created_at}}</span> 
            </div> 
            <img class="direct-chat-img" :src="message.user.avatar_user" :alt="message.user.name">
            <div class="direct-chat-text" v-if="message.mensaje != null">{{message.mensaje}}</div>
            <div class="direct-chat-text" v-else-if="message.file" v-html="archivo(message, false)">
            </div>
          </div>
        </div>
        <div class="row ml-10" v-else>
          <div class="direct-chat-msg col right align-self-end" >
            <div class="direct-chat-info clearfix col-12"> 
              <span class="direct-chat-name pull-right">{{message.user.name}}</span> 
              <span class="direct-chat-timestamp pull-left">{{message.created_at}}</span> 
            </div> 
            <img class="direct-chat-img" :src="message.user.avatar_user" :alt="message.user.name">
            <div class="direct-chat-text text-right" v-if="message.mensaje" >{{message.mensaje}}</div>
            <div class="direct-chat-text text-right" v-else-if="message.file" v-html="archivo(message, true)">
            </div>
          </div>
        </div>
      </v-list>

  </div>
</template>

<script>
  export default {
    props:['allMessages'],
    data () {
      return {
        loader: null,
        loading: false
      }
    },
    watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 3000)

        this.loader = null
      }
    },
    methods:{
      archivo(message, received){
        let array_word = ['DOC','DOCX','DOCM', 'ODT'];
        let array_excel = ['XLS', 'XLSM', 'ODS', 'XLSX'];
        let array_ppt = ['PPS', 'PPT', 'PPSX', 'PPTX', 'PPSM', 'PPTM', 'POTX', 'ODP'];
        let array_audio = ['MP3', 'WMA', 'WAV', 'FLAC', 'MIDI', 'OGG', 'M3U'];
        let array_video = ['AVI', 'DIVX', 'MOV', 'MP4', 'MPG', 'MKV', 'WMV', 'WPL'];
        let array_img = ['BMP', 'ICO', 'SVG', 'WEBP', 'GIF', 'PSD', 'HEIC', 'NEF', 'CRW', 'AI', 'ID'];
        let array_imagen = ['JPEG','JPG','PNG'];
        let array_comprimidos = ['ZIP', 'RAR', 'RAR5', '7Z', 'ACE', 'R00', 'GZ', 'tar'];
        let r = '';
        let tipo = message.archivo[1].toUpperCase();
        let link = `<a href='${message.file}' target="_blank" class="btn btn-sm mr-0 p-0" title="descargar archivo" style="color:#212F3D;">
          <i class="mdi mdi-download "></i>
        </a>`;
        if(array_imagen.includes(tipo)){
          	r = `<img src='${message.file}' width='140' title='${tipo}'>`;
        }else if(array_word.includes(tipo)){
          	r = `<span class='mdi mdi-file-word-box display-1 blue--text darken-1--text' title='${tipo}'></span>`;
        }else if(array_excel.includes(tipo)){
            r = `<span class='mdi mdi-file-excel-box display-1 green--text' title='${tipo}'></span>`;
        }else if(array_ppt.includes(tipo)){
            r = `<span class='mdi mdi-file-powerpoint-box display-1 orange--text' title='${tipo}'></span>`;
        }else if(array_audio.includes(tipo)){
            r = `<span class='mdi mdi-music-box display-1' title='${tipo}'></span>`;
        }else if(array_video.includes(tipo)){
            r = `<span class='mdi mdi-film display-1 text-danger' title='${tipo}'></span>`;
        }else if(array_img.includes(tipo)){
            r = `<span class='mdi mdi-file-image display-1 text-primary' title='${tipo}'></span>`;
        }else if(array_comprimidos.includes(tipo)){
            r = `<span class='mdi mdi-zip-box display-1 pink--text' title='${tipo}'></span>`;
        }else if(tipo.toLowerCase() == 'pdf'){
            r = `<span class='mdi mdi-file-pdf-box display-1 red--text' title='${tipo}'></span>`;
        }else if(tipo.toLowerCase() == 'txt'){
            r = `<span class='mdi mdi-file-document-box display-1' title='${tipo}'></span>`;
        }else if(tipo.toLowerCase() == 'csv'){
            r = `<span class='mdi mdi-file-chart display-1' title='${tipo}'></span>`;
        }else{
            r = `<span class='mdi mdi-file display-1' title='${tipo}'></span>`;
        }

        return received ? `${link} ${r} <br> ${message.archivo[0]}`:`${r} ${link} <br> ${message.archivo[0]}`;
      }
    }
  }
</script>

<style scoped>
.chat-card{
  margin-bottom:140px;
}
.floating-div{
    position: fixed;
}
.chat-card img {
    max-width: 300px;
    max-height: 200px;
}



.direct-chat-msg {
    margin-bottom: 10px
}

.direct-chat-msg,
.direct-chat-text {
    display: block
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: bold;
}

.direct-chat-timestamp {
    color: #999
}

.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
    margin-top:5px;
}

.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    color: #444
}
.right .direct-chat-text{
  margin: 5px 0 0 0;
  /* -webkit-box-shadow: -7px -9px 27px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: -7px -9px 27px -15px rgba(0,0,0,0.75);
  box-shadow: -7px -9px 27px -15px rgba(0,0,0,0.75); */
}

.left .direct-chat-text{
  margin: 5px 0 0 50px;
  /* -webkit-box-shadow: 7px 9px 27px -15px rgba(0,0,0,0.75); */
  /* -moz-box-shadow: 7px 9px 27px -15px rgba(0,0,0,0.75); */
  /* box-shadow: 7px 9px 27px -15px rgba(0,0,0,0.75); */

}

.direct-chat-msg,
.direct-chat-text {
    display: block
}

.direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px
}

.direct-chat-text:after,
.direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none
}

.direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px
}

.direct-chat-text:after,
.direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.direct-chat-msg:after {
    clear: both
}

.direct-chat-msg:after {
    content: "";
    display: table
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px
}

.right .direct-chat-img {
    float: right
}

.right > .direct-chat-text {
    background: #E8EAF6;
    border-color: #E8EAF6;
    color: #000
}

.right .direct-chat-text {
    margin-right: 50px;
   /* margin-left: 0 */
}

.mr-10{
  margin-right:10vh;
}

.ml-10{
  margin-left:10vh;
}

</style>
