<template>
  <div class="table-responsive">
      <table class="table" width="100%" id="tabla_actividades">
          <thead>
              <th>Id</th>
              <th>Actividades recientes</th>
              <th>Fecha</th>
          </thead>
          <tbody>
              <tr class="body-rows" v-for="(activity, index) in activities">
                  <td>{{activity.id}}</td>
                  <td :title="activity.time">
                          <small :class="(user.id == activity.causer_id) ? 'text-primary' :''">{{activity.causer.name}}</small> - 
                          <span>{{activity.description}}</span>
                  </td>
                  <td>| {{activity.created_at}}</td>
              </tr>
          </tbody>    
      </table>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        activities:[]
      }
    },
    mounted(){
      axios
      .get('/activities')
      .then(r => {
          this.activities = r.data
      })
      .catch(err =>{ console.error(err) }) 

     
    }
  }

   $(document).ready(function(){
       
        var titulo = [];
        titulo['old'] = 'Datos viejos';
        titulo['attribute'] = 'Datos nuevos';
        var table = $('#tabla_actividades').dataTable({
          "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
          },
          responsive: true,
          order:[[2,"desc"]],
          "columnDefs": [
              {
                  "targets": [ 1 ],
                  "visible": true,
                  "searchable": true
              },
              {
                  "targets": [ 0,2 ],
                  "visible": false,
                  "searchable": true
              }
          ]
        });

        $('#tabla_actividades').on('click', 'tbody tr', function () {
            var data = table.api().row(this).data();
            $.get( "/activity-properties/"+data[0], function( resp ) {
                    $('#showProperties').modal();
                    $( "#result" ).html('').append(resp);
              });
        } );
    });
</script>

<style scoped>

</style>
