<template>
  <div v-if="team.owner_id == user.id" class="btn-group" role="group">
    <button 
        :id="'btnGroupDrop'+index" 
        type="button" 
        :class="(user.current_team_id == team.id)?'btn dropdown-toggle btn-inverse-secondary':'btn dropdown-toggle btn-inverse-primary'" 
        data-toggle="dropdown" 
        aria-haspopup="true" 
        aria-expanded="false" 
        :title="team.name"
    >
      {{team.name}}
    </button>
  <div class="dropdown-menu" :aria-labelledby="'btnGroupDrop'+index">
      <a 
        :href="'/switch/'+team.id" 
        class="dropdown-item" 
        v-if="user.current_team_id == team.id || user.current_team_id == null"
      >
          <i class="mdi mdi-account-convert text-secondary"></i> 
          Cambiar
      </a>
      <button class="dropdown-item" @click="showMiembros(team.id)">
        <i class="fa fa-users text-primary"></i> Miembros
      </button>
      <button class="dropdown-item " @click="edit(team.id)">
        <i class="mdi mdi-pencil-box-outline text-info"></i> Editar
      </button>
      <button class="dropdown-item" @click="eliminar(index)">
        <i class="mdi mdi-delete text-danger"></i> Borrar
      </button>
    </div>
  </div>
  <a v-else-if="team.owner_id != user.id"
    :class="(team.id == user.current_team_id)?'btn btn-inverse-primary disabled':'btn btn-inverse-primary'" 
    :href="'/switch/'+team.id"
  >
    {{team.name}}
  </a>
</template>

<script>
  export default {
    props:{
      team:{
        type:Object,
        required:true
      }
    },
    methods:{
      showMiembros(id){
        EventBus.$emit('eventShowMiembros', id);
      },
      edit(id){
        EventBus.$emit('eventEdit', id);
      },
      eliminar(index){
        EventBus.$emit('eventEliminar', index);
      }
    }
  }
</script>

<style scoped>

</style>
