<template>
  <v-layout row>
    <v-flex>
       <div class="box-body">
          <div id="div-chat" >
            <message-list :user="user" :all-messages="allMessages" v-if="primer_mensaje == 0"></message-list>
            <p v-else>Escribe tu primer Mensaje</p>
            <div class="floating-div">
                <picker v-if="emoStatus" set="emojione" @select="onInput" title="seleccionar emoji" />
            </div>
          </div>
        </div>
        <div class="container p-1">
          <v-footer height="auto" class="footer ">
              <v-layout 
                row 
              >
                <v-flex xs1>
                  <v-btn @click="toggleEmo" icon x-small color="#3498DB " class="mt-3 ml-5 white--text">
                      <v-icon>insert_emoticon</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex xs1 class="text-center" >
                  <file-upload 
                          :post-action="(tab_chat == 'users')?'/private-messages/'+active_chat:'/team-messages/'+active_chat"
                          ref='upload'
                          v-model="files"
                          @input-file="$refs.upload.active = true"
                          :headers="{'X-CSRF-TOKEN': token}"
                  >
                      <v-icon class="mt-4">attach_file</v-icon>
                  </file-upload>
                </v-flex>
                <v-flex xs8>
                  <v-text-field
                          rows=2
                          v-model="message"
                          placeholder="Escribe un mensaje..."
                          outlined
                          @keyup.enter="sendMessage"
                          @click="primer_mensaje =0"
                  ></v-text-field>
                </v-flex>

                <v-flex xs1>
                  <button @click="sendMessage" class="mt-3 ml-2 white--text dark btn btn-primary btn-icon-text">
                    <span class="mdi mdi-send"></span>
                  </button>
                </v-flex>

              </v-layout>
            </v-footer>
          </div>
    </v-flex>
  </v-layout>
</template>

<script>
  import MessageList from './_message-list'
  import { Picker } from 'emoji-mart-vue'

  export default {
     components:{
      MessageList,
      Picker
    },
    data () {
      return {
        message:null,
        files:[],
        typingFriend:{},
        allMessages:[],
        typingClock:null,
        emoStatus:false,
        token:document.head.querySelector('meta[name="csrf-token"]').content
      }
    },

    computed:{
      active_chat(){
        return this.$store.getters.getActiveChat;
      },
      tab_chat(){
        return this.$store.getters.getTabChat;
      },
      primer_mensaje(){
        return this.allMessages.length > 0 ? 0 : 1;
      }
    },

    watch:{
      files:{
        deep:true,
        handler(){
          let success=this.files[0].success;
          if(success){
            this.fetchMessages();
          }
        }
      },
      active_chat(val){
        this.fetchMessages();
      },
      '$refs.upload'(val){
        console.log(val);
      }
    },

    methods:{
      onTyping(){
        Echo.private(`privatechat${this.active_chat}`).whisper('typing',{
          user:this.user
        });
      },
      async sendMessage(){
        let data = null;
        if(!this.message){
          return alert('Ingrese su mensaje');
        }

        if(this.tab_chat == 'users'){
        data = await axios.post('/private-messages/'+this.active_chat, {message: this.message}).then(res => res.data);
        }else{
        data = await axios.post('/team-messages/'+this.active_chat, {message: this.message}).then(res => res.data);
        }

        this.message=null;
        this.allMessages.push(data.message)
        setTimeout(this.scrollToEnd,100);
      },
      async fetchMessages() {
        if(this.tab_chat == 'users'){
           await axios.get('/private-messages/'+this.active_chat).then(response => {
                this.allMessages = response.data;
              setTimeout(this.scrollToEnd,100);
            });
        }else{
            axios.get('/team-messages/'+this.active_chat).then(response => {
                this.allMessages = response.data;
              setTimeout(this.scrollToEnd,100);
            });
        }
      },
      scrollToEnd(){
        $("#div-chat").animate({ scrollTop: $('#div-chat').prop("scrollHeight")}, 1000);
      },
      toggleEmo(){
        this.emoStatus= !this.emoStatus;
        setTimeout(this.scrollToEnd,100);
      },
      onInput(e){
        if(!e){
          return false;
        }
        if(!this.message){
          this.message=e.native;
        }else{
          this.message=this.message + e.native;
        }
        this.emoStatus=false;
      },

      onResponse(e){
        console.log('onrespnse file up',e);
      }

    
    },

    mounted(){
    },

    created(){
        EventBus.$on('recorrerScrollCHat', () => {
          setTimeout(this.scrollToEnd,100);
        })
        if(this.tab_chat == 'users'){
          Echo.private(`privatechat${this.user.id}`)
          .listen('PrivateMessageSent',(e)=>{
              this.active_chat=e.message.user_id;
              this.allMessages.push(e.message)
              setTimeout(this.scrollToEnd,100);

              console.log('blabla', {
                active:this.active_chat,
                user_id:e.message.user_id
              })
              if(this.active_chat != e.message.user_id){
                this.$store.commit('setUserUpdateCountReadMessage', e.message.user_id)
              }
              console.log('pmessage sent', this.allMessages)
          })
          .listenForWhisper('typing', (e) => {
              if(e.user.id==this.activeActive){
                  this.typingFriend=e.user;
                if(this.typingClock) clearTimeout();
                this.typingClock=setTimeout(()=>{
                    this.typingFriend={};
                },9000);
              }
          });
        }else{
          Echo.private(`teamchat${this.active_chat}`)
          .listen('TeamMessageSent',(e)=>{
              this.active_chat=e.message.message_id;
              this.allMessages.push(e.message)
              setTimeout(this.scrollToEnd,100);
              this.$store.commit('setTeamUpdateCountReadMessage', e.message.message_id)
              console.log('team message sent', this.allMessages)
          })
        }
    }
  }
</script>

<style scoped>
.online-users{
  overflow-y:scroll;
  height:85vh;
}
/*  */

.footer{
  padding:2px;
  height:auto;
  max-width:auto;

  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 31px 7px rgba(215,230,247,1);
  -moz-box-shadow: 0px 0px 31px 7px rgba(215,230,247,1);
  box-shadow: 0px 0px 31px 7px rgba(215,230,247,1);
    
}

#div-chat{
  max-width:80vw;
  height:70vh;
  max-height: 70vh;
  background-color:#D4E6F1 ;            
  margin: 5px;
  overflow-y: scroll;
  overflow-y:auto;
  border: solid 1px #CCD1D1;
}

.chat-active{
  background:#EBF5FB ;
}

.box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px
}

.box-body:before,
.box-footer:before,
.box-body:after,
.box-footer:after {
    content: "";
    display: table
}

.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 250px;
    overflow: auto
}

.direct-chat-messages {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;

}

.box-body:before,
.box-footer:before,
.box-body:after,
.box-footer:after {
    content: "";
    display: table
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}
</style>
