<template>
  <v-layout row>
    <v-flex class="online-users">
     <v-list class="p-3">
        <v-text-field
          v-model="searchChat"
          :label="(type == 'users') ? 'Buscar un contacto' : 'Buscar un Grupo'"
          append-icon="person_search"
        ></v-text-field>
      </v-list>
      <v-list dense>
        <v-list-tile
          v-if="type == 'users'"
          v-for="item in chats"
          :key="item.id"
          @click="selectChat(item)"
          :class="(activeChat == item.id) ? 'chat-active':''"
          avatar
        >
            <v-list-tile-avatar>
              <v-badge
                :color="(onlineFriends.find(user=>user.id===item.id))?'#11E103':'#F80909'"
                 top
                  overlap
              >                
                <template v-slot:badge>
                  <v-icon>
                    <!-- {{(onlineFriends.find(user=>user.id===friend.id))?'':''}} -->
                  </v-icon>
                </template>
                <v-avatar
                  size="38px"
                >
                  <img
                  :src="item.avatar_user"
                  >
                </v-avatar>
              </v-badge>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{letraCapital(item.name.substring(0,22))}}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action v-if="item.count_is_read > 0">
              <span class="badge badge-pill badge-primary">{{item.count_is_read}}</span>
            </v-list-tile-action>
        </v-list-tile>
        <v-list-tile
          v-if="type == 'teams'"
          v-for="item in chats"
          :key="item.id"
          @click="selectChat(item)"
          :class="(activeChat == item.id) ? 'chat-active':''"
        >
          <v-list-tile-avatar>
              <v-avatar
                size="36px"
              >
                <img
                :src="item.avatar"
                >
              </v-avatar>
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{letraCapital(item.name.substring(0,22))}}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action v-if="item.count_is_read > 0">
              <span class="badge badge-pill badge-primary">{{item.count_is_read}}</span>
            </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-flex>
  </v-layout>
</template>

<script>

  export default {
    props:{
        type:{
          type:String,
          required:true
        }
    },
    
    data () {
      return {
        searchChat:'',
        onlineFriends:[]
      }
    },
    computed:{
      chats(){
        let contacts = this.type == 'users' 
                       ? this.$store.getters.getUsers.filter(i => i.id != this.user.id) 
                       : this.$store.getters.getTeams;

        if(contacts.length > 0){
          contacts.sort((a, b) => b.count_is_read - a.count_is_read)
        }
        
        if(this.searchChat == ''){
          return contacts;
        }else{
          return contacts.filter((item) => {
            return item.name.toLowerCase().includes(this.searchChat.toLowerCase());
          });
        } 
      },
      activeChat(){
        return this.$store.getters.getActiveChat;
      }
    },
    methods:{
      selectChat(chat){
        console.log();
        EventBus.$emit('changeActive', 2);
        this.$store.commit('setActiveChat', chat.id);
        this.$store.commit('setTabChat', this.type);
        if(this.type == 'users' && chat.count_is_read > 0){
          this.$store.commit('setUserResetCountChat', chat.id);
        }
      },
      letraCapital(st){
        let str = st.toLowerCase();
        return str.replace(/\w\S*/g, (w) => (w.replace(/^\w/, (c) => c.toUpperCase())));
      }
    },
    mounted(){
      let item_firts = this.chats.length > 0 && this.type == 'users'  
                       ? this.chats[0].id : null
      this.$store.commit('setActiveChat', item_firts);
    },
    created(){
        Echo.join('plchat')
        .here((users) => {
             console.log('online',users);
             this.onlineFriends=users;
        })
        .joining((user) => {
            this.onlineFriends.push(user);
            console.log('joining',user.name);
        })
        .leaving((user) => {
            this.onlineFriends.splice(this.onlineFriends.indexOf(user),1);
            console.log('leaving',user.name);
        });
        console.log('privatechat', `privatechat${this.user.id}`)
      }
  }
</script>

<style scoped>
.online-users{
  overflow-y:scroll;
  height:85vh;
}
/*  */

#div-chat{
  max-width:100%;
  height:70vh;
  max-height: 70vh;
  background-color:#D4E6F1 ;            
  margin: 5px;
  overflow-y: scroll;
  overflow-y:auto;
  border: solid 1px #CCD1D1;
}

.chat-active{
  background:#EBF5FB ;
}
</style>
