<template>
  <v-layout row>
    <v-flex id="privateMessageBox" md9>
       <div>
        <v-tabs
          v-model="active"
          background-color="primary"
          left
        >
          <v-tab
            v-for="(tab, n) in tabs"
            :key="n"
            ripple
            @click="tabPrincipal(n)"
          >
            {{ tab }}
          </v-tab>
          <v-tab-item
            :key="1"
          >
            <v-card flat>
              <v-card-text>
                <estado-form></estado-form>
                <estado-list></estado-list>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item
            :key="2"
          >
            <v-card flat>
              <v-card-text>
                <activities-log :activities="activities"></activities-log>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item
            :key=""
          >
            <chat-messenger></chat-messenger>
          </v-tab-item>
        </v-tabs>
      </div>
    </v-flex>
    <v-flex>
      <div class="col-12">
        <teams-list></teams-list>
      </div>
      <div class="col-12">
        <v-tabs
          centered
          background-color="primary"
        >
          <!-- <v-tabs-slider color="yellow"></v-tabs-slider> -->
          <v-tab href="#tab-1" title="Contactos">
            <v-icon>account_box</v-icon>
          </v-tab>

          <v-tab href="#tab-2" title="Grupos">
            <v-icon>groups</v-icon>
          </v-tab>
          <v-tab-item
            :value="'tab-1'"
          >
            <list-chat type="users"></list-chat>
          </v-tab-item>
          <v-tab-item
            :value="'tab-2'"
          >
            <list-chat type="teams"></list-chat>
          </v-tab-item>
        </v-tabs>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  import EstadoList from '../Estados/EstadosList'
  import EstadoForm from '../Estados/EstadoForm'
  import ListChat from './ListChat'
  import ChatMessenger from './ChatMessenger'
  import TeamsList from './Teams'
  import ActivitiesLog from './Actividades'

  export default {
    components:{
      EstadoList,
      EstadoForm,
      ListChat,
      ChatMessenger,
      TeamsList,
      ActivitiesLog
    },
    props:{
      activities:{
        type:Array,
        required:true
      }
    },
    
    data () {
      return{
        tab_chat:'users',
        active: null,
        tabs:['Muro', 'Actividades Recientes', 'Chats']
      }
    },
    created(){
      EventBus.$on('changeActive', (data) => {
        this.active = data;
      })
      this.$store.dispatch('listTeams');
      this.$store.dispatch('listUsers');
    },
    methods:{
      tabPrincipal(n){
        if(n ==2){
          EventBus.$emit('recorrerScrollCHat');
        }
      }
    }
  }
</script>

<style scoped>
.online-users{
  overflow-y:scroll;
  height:85vh;
}
/*  */

.v-tabs__div, .v-tabs__bar {
  background-color: #EAECEE !important;
  height: 40px ;
  margin-top: 5px;
  margin-left: 5px;
}


.footer{
  padding:2px;
  height:auto;
  max-width:auto;

  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 31px 7px rgba(215,230,247,1);
  -moz-box-shadow: 0px 0px 31px 7px rgba(215,230,247,1);
  box-shadow: 0px 0px 31px 7px rgba(215,230,247,1);
    
}

#div-chat{
  max-width:80vw;
  height:70vh;
  max-height: 70vh;
  background-color:#D4E6F1 ;            
  margin: 5px;
  overflow-y: scroll;
  overflow-y:auto;
  border: solid 1px #CCD1D1;
}

.chat-active{
  background:#EBF5FB ;
}

.box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px
}

.box-body:before,
.box-footer:before,
.box-body:after,
.box-footer:after {
    content: "";
    display: table
}

.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 250px;
    overflow: auto
}

.direct-chat-messages {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;

}

.box-body:before,
.box-footer:before,
.box-body:after,
.box-footer:after {
    content: "";
    display: table
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}
</style>
