<template>
  <v-layout row>
    <v-flex id="privateMessageBox" md9>
       <div>
        <v-tabs
          v-model="active"
          color="#1976D2"
          dark
          slider-color="yellow"
        >
          <v-tab
            v-for="(tab, n) in tabs"
            :key="n"
            ripple
          >
            {{ tab }}
          </v-tab>
          <v-tab-item
            :key="1"
          >
            <v-card flat>
              <v-card-text>
                <estado-form></estado-form>
                <estado-list></estado-list>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item
            :key="2"
          >
            <v-card flat>
              <v-card-text>lo que he hecho</v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item
            :key=""
          >
                <div class="box-body">
                  <div id="div-chat">
                    <message-list :user="user" :all-messages="allMessages"></message-list>
                    <div class="floating-div">
                        <picker v-if="emoStatus" set="emojione" @select="onInput" title="seleccionar emoji" />
                    </div>
                  </div>
                  
                </div>
                <div class="container p-1">
                    <v-footer height="auto" class="footer ">
                      <v-layout 
                        row 
                      >
                        <v-flex xs1>
                          <v-btn @click="toggleEmo" icon x-small color="#3498DB " class="mt-3 ml-5 white--text">
                              <v-icon>insert_emoticon</v-icon>
                          </v-btn>
                        </v-flex>
                        <v-flex xs1 class="text-center" >
                          <file-upload 
                                  :post-action="(tab_chat == 'contacts')?'/private-messages/'+activeChat:'/team-messages/'+activeChat"
                                  ref='upload'
                                  v-model="files"
                                  @input-file="$refs.upload.active = true"
                                  :headers="{'X-CSRF-TOKEN': token}"
                          >
                              <v-icon class="mt-4">attach_file</v-icon>
                          </file-upload>
                        </v-flex>
                        <v-flex xs8>
                          <v-text-field
                                  rows=2
                                  v-model="message"
                                  placeholder="Escribe un mensaje..."
                                  outlined
                                  @keyup.enter="sendMessage"
                          ></v-text-field>
                        </v-flex>

                        <v-flex xs1>
                          <button @click="sendMessage" class="mt-3 ml-2 white--text dark btn btn-primary btn-icon-text">
                            <span class="mdi mdi-send"></span>
                          </button>
                        </v-flex>

                      </v-layout>
                    </v-footer>
                  </div>
          </v-tab-item>
        </v-tabs>
      </div>
    </v-flex>
    <v-flex class="online-users" md3>
     <!-- <teams-list></teams-list> -->
      <v-tabs
        centered
        color="#1976D2"
        dark
        show-arrows
      >
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab href="#tab-1" title="Contactos">
          <v-icon>account_box</v-icon>
        </v-tab>

        <v-tab href="#tab-2" title="Grupos">
          <v-icon>groups</v-icon>
        </v-tab>
        <v-tab-item
          :value="'tab-1'"
        >
        <v-list class="p-3">
          <v-text-field
            v-model="searchContact"
            label="Buscar un contacto"
            append-icon="person_search"
          ></v-text-field>
        </v-list>
        <v-list dense>
            <v-list-tile
              v-for="friend in friends"
              :key="friend.id"
              @click="selectChat(friend.id)"
              :class="(activeChat == friend.id && tab_chat == 'contacts') ? 'chat-active':''"
              avatar
            >
              
              <v-list-tile-action>
                <v-badge
                  :color="(onlineFriends.find(user=>user.id===friend.id))?'#11E103':'#F80909'"
                   top
                    overlap
                >                
                  <template v-slot:badge>
                    <v-icon>
                      <!-- {{(onlineFriends.find(user=>user.id===friend.id))?'':''}} -->
                    </v-icon>
                  </template>
                  <v-avatar
                    size="38px"
                  >
                    <img
                    :src="friend.avatar_user"
                    >
                  </v-avatar>
                </v-badge>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{friend.name.substring(0,22)}}</v-list-tile-title>
              </v-list-tile-content>
              <!--
              <v-list-tile-avatar>
                <img src="https://www.blexar.com/avatar.png">
              </v-list-tile-avatar>
              -->
            </v-list-tile>
           
        </v-list>
        </v-tab-item>
        <v-tab-item
          :value="'tab-2'"
        >
          <v-list  class="p-3">
            <v-text-field
              v-model="searchGroup"
              label="Buscar un grupo"
              append-icon="person_search"
            ></v-text-field>
          </v-list>
          <v-list dense>
            <v-list-tile
              v-for="team in teams"
              :key="team.id"
              @click="selectTeamChat(team.id)"
              :class="(activeChat == team.id && tab_chat == 'teams') ? 'chat-active':''"
            >
              <v-list-tile-action>
                  <v-avatar
                    size="36px"
                  >
                    <img
                    :src="team.avatar"
                    >
                  </v-avatar>
              </v-list-tile-action>

              <v-list-tile-content>
                <v-list-tile-title>{{team.name.substring(0,22)}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
         </v-list>
        </v-tab-item>
      </v-tabs>
    </v-flex>
  </v-layout>
</template>

<script>
  import MessageList from './_message-list'
  import { Picker } from 'emoji-mart-vue'
  import EstadoList from '../Estados/EstadosList'
  import EstadoForm from '../Estados/EstadoForm'
  //import TeamsList from './Teams'

  export default {
    components:{
      Picker,
      MessageList,
      EstadoList,
      EstadoForm,
      //TeamsList
    },
    
    data () {
      return {
        message:null,
        files:[],
        activeChat:null,
        typingFriend:{},
        onlineFriends:[],
        allMessages:[],
        typingClock:null,
        emoStatus:false,
        users:[],
        token:document.head.querySelector('meta[name="csrf-token"]').content,
        active: null,
        tabs:['Muro', 'Actividades Recientes', 'Chats'],
        searchContact:'',
        searchGroup:'',
        tab_chat:'contacts'
      }
    },

    computed:{
      friends(){
        let contacts = this.users;
        if(this.searchContact == ''){
          return contacts;
        }else{
          return contacts.filter((item) => {
            return item.name.toLowerCase().includes(this.searchContact.toLowerCase());
          });
        } 
      },
      teams(){
        if(this.searchGroup == ''){
          return this.$store.getters.getTeams
        }else{
          return this.$store.getters.getTeams.filter((item) => {
            return item.name.toLowerCase().includes(this.searchGroup.toLowerCase());
          });
        } 
      }
    },

    watch:{
      files:{
        deep:true,
        handler(){
          let success=this.files[0].success;
          if(success){
            this.fetchMessages();
          }
        }
      },
      activeChat(val){
        this.fetchMessages();
      },
      '$refs.upload'(val){
        console.log(val);
      }
    },

    methods:{
      selectChat(friend){
        this.activeChat=friend
        this.active = 2
        this.tab_chat = 'contacts'
      },
      selectTeamChat(team){
        this.activeChat=team
        this.active = 2
        this.tab_chat = 'teams'
      },
      onTyping(){
        Echo.private(`privatechat${this.activeChat}`).whisper('typing',{
          user:this.user
        });
      },
      sendMessage(){
        if(!this.message){
          return alert('Ingrese su mensaje');
        }
        if(this.tab_chat == 'contacts'){
          axios.post('/private-messages/'+this.activeChat, {message: this.message}).then(response => {
            this.message=null;
            this.allMessages.push(response.data.message)
            setTimeout(this.scrollToEnd,100);
          });
        }else{
          axios.post('/team-messages/'+this.activeChat, {message: this.message}).then(response => {
            this.message=null;
            this.allMessages.push(response.data.message)
            setTimeout(this.scrollToEnd,100);
          });
        }
      },
      async fetchMessages() {
        if(this.tab_chat == 'contacts'){
           await axios.get('/private-messages/'+this.activeChat).then(response => {
                this.allMessages = response.data;
              setTimeout(this.scrollToEnd,100);
            });
        }else{
            axios.get('/team-messages/'+this.activeChat).then(response => {
                this.allMessages = response.data;
              setTimeout(this.scrollToEnd,100);
            });
        }
      },
      fetchUsers() {
        axios.get('/users').then(response => {
            this.users = response.data;
            if(this.friends.length>0){
              this.activeChat=this.friends[0].id;
            }
        });
      },
      scrollToEnd(){
        $("#div-chat").animate({ scrollTop: $('#div-chat').prop("scrollHeight")}, 1000);
      },
      toggleEmo(){
        this.emoStatus= !this.emoStatus;
        setTimeout(this.scrollToEnd,100);
      },
      onInput(e){
        if(!e){
          return false;
        }
        if(!this.message){
          this.message=e.native;
        }else{
          this.message=this.message + e.native;
        }
        this.emoStatus=false;
      },

      onResponse(e){
        console.log('onrespnse file up',e);
      }

    
    },

    mounted(){
    },

    created(){
              this.fetchUsers();
              //this.$store.dispatch('getUsers');
              this.$store.dispatch('getTeams');
              
              Echo.join('plchat')
              .here((users) => {
                   console.log('online',users);
                   this.onlineFriends=users;
              })
              .joining((user) => {
                  this.onlineFriends.push(user);
                  console.log('joining',user.name);
              })
              .leaving((user) => {
                  this.onlineFriends.splice(this.onlineFriends.indexOf(user),1);
                  console.log('leaving',user.name);
              });
              console.log('privatechat', `privatechat${this.user.id}`)

              Echo.private(`privatechat${this.user.id}`)
                .listen('PrivateMessageSent',(e)=>{
                  console.log('pmessage sent')
                  this.activeChat=e.message.user_id;
                  this.allMessages.push(e.message)
                  setTimeout(this.scrollToEnd,100);

              })
              .listenForWhisper('typing', (e) => {

                  if(e.user.id==this.activeActive){

                      this.typingFriend=e.user;
                      
                    if(this.typingClock) clearTimeout();

                      this.typingClock=setTimeout(()=>{
                                            this.typingFriend={};
                                        },9000);
                  }


                 
            });

    }
    
  }
</script>

<style scoped>
.online-users{
  overflow-y:scroll;
  height:85vh;
}
/*  */

.footer{
  padding:2px;
  height:auto;
  max-width:auto;

  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 31px 7px rgba(215,230,247,1);
  -moz-box-shadow: 0px 0px 31px 7px rgba(215,230,247,1);
  box-shadow: 0px 0px 31px 7px rgba(215,230,247,1);
    
}

#div-chat{
  max-width:80vw;
  height:70vh;
  max-height: 70vh;
  background-color:#D4E6F1 ;            
  margin: 5px;
  overflow-y: scroll;
  overflow-y:auto;
  border: solid 1px #CCD1D1;
}

.chat-active{
  background:#EBF5FB ;
}

.box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px
}

.box-body:before,
.box-footer:before,
.box-body:after,
.box-footer:after {
    content: "";
    display: table
}

.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 250px;
    overflow: auto
}

.direct-chat-messages {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;

}

.box-body:before,
.box-footer:before,
.box-body:after,
.box-footer:after {
    content: "";
    display: table
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}
</style>
