<template>
  <div>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="btn btn-primary btn-block" href="">Evento <i class="mdi mdi-plus"></i></a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="btn-group-vertical btn-block">
              <button class="btn btn-primary" @click="create()">Grupos <i class="mdi mdi-plus"></i></button>
                <button-team
                  :key="index" 
                  v-for="(team, index) in item_teams" 
                  :team="team"
                ></button-team>
              <a :class="(item_teams.length == 0)?'btn btn-inverse-primary disabled':'btn btn-inverse-primary'" :href="'/switch/'+'0'">Todos mis grupos</a>
        </div>
      </li>
    </ul>
    <div id="teamMembersModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">  
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="my-modal-title">Detalles</h5>
            <button class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row justify-content-md-center">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card" >
                    <div class="card-body borde">
                      <h4 class="text-center" id="titleTeamMembers"></h4>
                        <div class="my-3">
                              <table class="tableTeam" id="tabla_miembros" width="65%" >
                                  <thead>
                                    <tr>
                                        <th style="width:25%">Nombre</th>
                                        <th style="width: 5%">Opciones</th>
                                    </tr>
                                  </thead>
                                  <tbody id="teamUsers">
                                    <tr v-for="(member, index) in members">
                                      <td>{{member.name}}</td>
                                      <td>
                                        <button class='btn btn-danger btn-sm' v-if="user.current_team_id == team_select.id && user.id != member.id" @click="eliminarMiembro(member.user_id)"><i class='fa fa-trash-o'></i></button>
                                      </td>
                                    </tr>
                                  </tbody>
                              </table>
                        </div>  
                    </div>
                </div>
              </div>
            </div>
            
            <div class="row justify-content-md-center mt-4">
              <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="card" >
                      <div class="card-body borde">
                        <h4 class="text-center" id="titleInvitacionesPendientes"></h4>
                          <div class="my-3">
                              <table class="tableTeam" id="tabla_miembros" width="65%">
                                  <thead>
                                  <tr>
                                      <th>Correo</th>
                                      <th>Opciones</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    "<tr v-for="(invite, index) in invites">
                                      <td>{{invite.email}}</td>
                                      <td>
                                        <a :href="'/equipos/members/resend/'+invite.id" class='btn btn-sm btn-default'>
                                            <i class='fa fa-envelope-o'></i> Re-enviar Invitación
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>  
                      </div>
                  </div>
              </div>
            </div>

            <div class="row justify-content-md-center mt-4">
              <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="card" >
                      <div class="card-body borde">
                          <div class="my-3">
                              <h4 class="text-center" id="titleInviteForm"></h4>
                                <div class="input-group my-3">
                                  <label class="input-group-text">Correo Elecronico</label>
                                    <select class="form-control col-7">
                                        <option v-for="(item, index) in users" v-model="select_user_email" :value="item.email" >{{item.name}} | {{item.email}}</option>
                                    </select>
                                </div>

                                <div class="row justify-content-md-center">
                                  <div class="form-group">
                                    <button @click="enviar_invitacion" class="btn btn-primary">
                                      <i class="fa fa-btn fa-envelope-o"></i> Invitar al Equipo
                                    </button>
                                  </div>
                                </div>
                          </div>  
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div id="formTeamModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">  
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="formTitle"></h5>
            <button class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row justify-content-md-center">
                <div class="input-group my-2">
                      <label class="input-group-text bg-light">Nombre del Equipo</label>
                      <input type="text" placeholder="Nombre del Equipo de Trabajo" class="form-control" v-model="data.name">
                </div>
                <div class="input-group my-2">
                    <label class="input-group-text bg-light">Correo Electronico</label>
                      <select v-model="data.owner_id" class="form-control">
                          <option v-for="(item, index) in users" :value="user.id">{{item.name}}</option>
                      </select>
                </div>
                <div class="row my-2 justify-content-md-center">
                  <div class="form-group">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" @click="save">Guardar</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ButtonTeam from './ButtonTeam'
  export default {
    components:{
      ButtonTeam
    },
    data () {
      return {
        team_select:null,
        select_user_email:'',
        form_save:'store',
      }
    },
    computed:{
      item_teams(){
        console.log('temas_teams', this.$store.getters.getTeams);
        return this.$store.getters.getTeams
      },
      users(){
        return this.$store.getters.getUsers
      },
      data(){
        return {
          name:this.team_select == null ? '': this.team_select.name,
          owner_id:this.team_select == null ? -1 : this.team_select.owner_id
          //owner_id:5
        }
      },
      members(){
        return this.team_select == null ? []: this.team_select.members;
      },
      invites(){
        return this.team_select == null ? []: this.team_select.invites;
      }
    },
    created(){
      EventBus.$on('eventShowMiembros', (data) => {
        $('#teamMembersModal').modal();
        this.team_select = this.item_teams.find(i =>
          i.id = data
        );
      })

      EventBus.$on('eventEdit', (data) => {
        this.form_save = 'update';
        $('#formTeamModal').modal();
        this.team_select = this.team.find(i =>{
          i.id = data;
        });
      }) 

      EventBus.$on('eventEliminar', (data) => {
        this.$store.dispatch('destroyTeam', this.item_teams[data].id);
        this.$store.commit('setDestroyTeam', data);
      }) 
      
    },
    methods:{
      create(){
        this.form_save = 'store';
        $('#formTeamModal').modal();
        this.team_select = null
      },
      eliminarMiembro(user_id){
        this.$store.dispatch('destroyMemberTeam', {team_id:this.team_select.id, user_id:user_id});
      },
      enviar_invitacion(){
        this.$store.dispatch('enviarInvitacion', {'email':select_user_email, 'team_id':this.team_select.id});
      },
      save(){
        if(this.form_save=='store'){
          this.$store.dispatch('storeTeam', this.data);
        }else{
          this.$store.dispatch('updateTeam', {data:this.data, team_id:this.team_select.id});
        }
      },
    }
  }
</script>

<style scoped>

</style>
