
    /* BREADCRUMBS */
    .breadcrumb-item a{ 
        color:#37474F !important;
        font-size:14px  !important;
    }
    .breadcrumb-item a:hover{ 
        color:#1976D2  !important;
    }

    .breadcrumb-item a:link, a:visited, a:active {
        text-decoration:none;
    }

    /* ESTILOS BOTON AGREGAR */
    .btn-primary, .btn-primary:active, .btn-primary:visited {
        background-color: #1976D2 !important;
        border-color: #1976D2 !important;
    }

    .btn-primary:hover, .btn-icon-form:hover {
        background-color: #53a0ec !important;
        border-color: #53a0ec !important;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
    }

    /* ICONOS */
    .btn-icon-form{
        background-color: #1976D2 !important;
        border-color: #1976D2 !important;
        color:#FDFEFE;

        display: inline-block;
        margin-bottom: 0;
        white-space: nowrap;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 6px 10px;
        /* font-size: 17px; */
        /* line-height: 1.42857143; */
        border-radius: 2px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    /* TABLAS */
    th { white-space:nowrap; }
        
    table.dataTable.display thead th{
        font-size: 15px;
        width:12px;
        padding: 12px;
        padding-left:10px;
        padding-top: 10px;
        text-align: left;
        border-style: none;
        border-bottom: 1px solid #808B96;
    }

    table.dataTable.display tbody td {
        padding: 4px !important;
        padding-left:10px !important;
        font-family: 'Roboto', sans-serif !important;
        color: #030000 !important;
        font-size: 15px;
    }


    .sidebar .nav .nav-item.active > .nav-link i,
    .sidebar .nav .nav-item.active > .nav-link .menu-title,
    .sidebar .nav .nav-item.active > .nav-link .menu-arrow {
        color: #1976D2 !important;
        font-weight: 700 !important;
    }


    .body-rows{
        background-color:#FDFEFE !important;
    }

    /* estilo borde card-body */
    .borde{
        border: solid 1px #d0d3d4;
    }

    .nav-item .nav-link.active{
        font-weight: 600;
    }

    /* Badge */
    .v-badge__badge {
        height: 8px !important;
        width: 8px !important;
    }

    /* .v-badge--overlap.v-badge--bottom .v-badge__badge {
        bottom: 4px!important;
        top: -1px!important;
    } */
 
    .v-badge--overlap .v-badge__badge {
        top: 27px!important;
        right: -1px !important;
    }

    

    .d-flex>*, .d-inline-flex>* {
        flex: 0 1 auto!important
    }

    .v-tabs__item,.v-tabs__item > i {
        color: #566573 !important;
        font-weight: 500 !important;
    }

    .v-tabs__item--active, .v-tabs__item--active > i {
        background-color:#1976D2 !important;
        color: #f8f9fa !important;
        font-weight: bold;
    }

    .theme--light > .v-icon {
        color: #f8f9fa !important;
    }


    