<template>
    <div class=" mb-4 mt-3">
        <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
        <button class="btn btn-inverse-primary py-2" @click="crearEstado">Publicar</button>
    </div>
</template>

<script>
import Compressor from 'compressorjs';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
//import FontColor from '@ckeditor/ckeditor5-font/src/fontcolor';
//import ImageUpload from '@ckeditor/ckeditor5-image/src/imageupload';
//import SimpleuploadPlugin from 'ckeditor5-simple-upload/src/simpleupload'
//import SimpleUploadAdapter from '@ckeditor/ckeditor5-upload/src/adapters/simpleuploadadapter';
//import SimpleUploadAdapter from '@ckeditor/ckeditor5-upload';
export default {
    data (){
        return {
            editor: ClassicEditor,
            editorData: '',
            editorConfig: {
                placeholder:'Comparte algo en el grupo',
                language: 'es',
                
                toolbar: {
                    items: [ 
                        'heading', '|',
                        'bold', 'italic', '|',
                        'insertTable','uploadImage','mediaEmbed','|'
                    ],
                    viewportTopOffset: 30,
                    shouldNotGroupWhenFull: true
                },
                fontFamily: {
                    options: [
                        "default",
                        "Ubuntu, Arial, sans-serif",
                        "Ubuntu Mono, Courier New, Courier, monospace",
                    ],
                },
                fontSize: {
                    options: [9, 11, 13, "default", 17, 19, 21],
                },
                fontColor: {
                    colors: [],
                    columns: 3
                },
                fontBackgroundColor: {
                    columns: 6
                },

                
                //plugins: [],
                extraPlugins: [uploader]
            }
        }
    },
    /*
    items: [
                        'heading', '|',
                        'alignment', '|',
                        'bold', 'italic', 'strikethrough', 'underline', 'subscript', 'superscript', '|',
                        'link', '|',
                        'bulletedList', 'numberedList', 'todoList',
                        '-', // break point
                        'fontfamily', 'fontsize', 'fontColor', 'fontBackgroundColor', '|',
                        'code', 'codeBlock', '|',
                        'insertTable', '|',
                        'outdent', 'indent', '|',
                        'uploadImage
                        ', 'blockQuote', '|',
                        'undo', 'redo'
                    ],
    */
    created(){
       
    },
    methods: {
        crearEstado(){
            //console.log('body', this.editorData);
            axios.post('/estado', {body: this.editorData})
            .then(res => {
                this.editorData="";
            })
            .catch(err =>{
                console.error(err.response.data)
            })
        },
        onBlur(evt) {
            console.log(evt);
        },
        onFocus(evt) {
            console.log(evt);
        },
        onContentDom(evt) {
            console.log(evt);
        },
        onDialogDefinition(evt) {
            console.log(evt);
        },
        onFileUploadRequest(evt) {
            console.log(evt);
        },
        onFileUploadResponse(evt) {
            console.log(evt);
        }

    }
};

export class UploadAdapter
{
    constructor (loader)
    {
        // The file loader instance to use during the upload.
        this.loader = loader;
    }

    // Starts the upload process.
    upload ()
    {
        return new Promise((resolve, reject) =>
        {
            const reader = new window.FileReader();
            console.log('reader', reader)

            reader.addEventListener('load', () =>
            {
                resolve({'default': reader.result});
            });

            reader.addEventListener('error', err =>
            {
                reject(err);
            });

            reader.addEventListener('abort', () =>
            {
                reject();
            });

            this.loader.file.then(file =>
            {
                reader.readAsDataURL(file);
            });
        });
    }

    // Aborts the upload process.
    abort ()
    {
         //
    }
}

export const uploader = function (editor)
{
    editor.plugins.get('FileRepository').createUploadAdapter = (loader) =>
        new UploadAdapter(loader);
};
</script>
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
