<template>
    <div>
        <estado-list-item  
            v-for="estado in estados"
            :estado="estado"
            :key="estado.data.id"
            >
        </estado-list-item>
    </div>
</template>

<script>
import EstadoListItem from './EstadoListItem';
export default {
    components: {EstadoListItem},
    data() {
        return {
            estados:[]
        };
    },
    mounted(){
        this.list();
        Echo.channel(`teams`).listen('EstadoCreado', ({estado}) =>{
            axios 
            .get(`/estado/${estado}`)
            .then(r => this.estados.unshift(r.data))
            .catch(err =>{
                console.error(err)
            }); 
        })

         $("img").each(function(){
                $(this).addClass('img-responsive');
        });
        /*
        Echo.channel(`teams`).listen('EstadoCreado', ({estado}) =>{
            console.log(estado);
            axios.get(`/equipos/userBelongsToTeam/${estado.owner.id}`)
            .then(resp =>{
                console.log(resp.data);
                if(resp.data){ this.estados.unshift(estado); }
            })
            .catch(err =>{
                console.error('userTeamError', err);
            });
        })
        */
    },
    methods: {
       list(){
           axios.get('estado')
            .then(resp =>{
                this.estados = resp.data;
            })
            .catch(err =>{
                console.error(err.response.data)
            })
       }
    }
};
</script>
