<template>
    <div class="card border-0 mb-3 mt-2" style="border-radius:0 15px 15px 15px;">
        <div class="card-body borde pt-1 pb-1" style="border-radius:5px">
            <div class="box-header with-border">
                <div class="user-block">
                    <img class="img-circle" width="30" :src="estado.owner.avatar" :alt="estado.owner.name"/>
                    <span class="description" style="cursor:pointer; color: #3C8DBC;" >  {{estado.owner.name}}</span>
                    <span class="description small ml-1 text-muted" >{{estado.data.date}}</span>
                </div>
            </div>

            <div class="box-body mt-2 p-2" >
                <div class="card-text text-secondary">
                    <div :class="(!toggle) ? 'col-12 box text-estado ': 'col-12 box  big' " v-html="estado.data.body" @click="toggle = !toggle"></div>    
                </div>

                <like-btn :item="estado" :url="`/estados/${estado.data.id}/likes`" textColor="text-primary"></like-btn>
                    
                  
                <a v-if="comentarios.length > 0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="text-decoration:none;" class="text-primary ml-1">
                    <i class="mdi mdi-comment-multiple-outline"></i> {{comentarios.length}} Comentarios 
                </a>
                <span v-else>
                    <i class="mdi mdi-comment-multiple-outline text-muted"></i>  Comentarios
                </span>


                <form @submit.prevent="addComentario" class="col-sm-7 pull-right ">
                    <div class="input-group">
                        <input class="form-control lb-coment " 
                            v-model="bodyComentario"
                            placeholder="escribe un comentario..."
                        />
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm redond-left  btn-coment">Comentar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="box-footer box-comments"   >

                <div class="collapse" id="collapseExample" v-for="comentario in comentarios">
                    <div class="card card-body col-sm-12 pt-1 pb-1 mt-1" >
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle " :src="comentario.owner.avatar" :alt="comentario.owner.name"  width="24px"/>
                                <span class="description">{{comentario.owner.name}}</span>
                            </div>
                        </div>
                        <div class="box-body">
                            <p class="card-text text-secondary text-estado mb-0 ml-4" v-text="comentario.data.body"></p>
                            <like-btn :item="comentario"  :url="`/comentarios/${comentario.data.id}/likes`" class="comments-like-btn mt-0"  textColor="text-primary"></like-btn>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</template>

<script>
import LikeBtn from './LikeBtn';
export default {
    props:{
        estado:{
            type:Object,
            required: true
        }
    },
    data(){
        return{
            bodyComentario:'',
            comentarios:this.estado.comentarios,
            toggle:0
        }
    },
    components:{LikeBtn},
    mounted(){ 
        Echo.channel(`teams`).listen('ComentarioCreado', ({comentario}) =>{
            this.comentarios.unshift(comentario);
            this.imgFluid();
        })

        this.imgFluid();
    },
    methods:{
        addComentario(){
            axios.post('/estado/comentarios', {body:this.bodyComentario, estado_id: this.estado.data.id})
            .then(resp =>{
                this.bodyComentario = '';
            });
        },
        imgFluid(){
            $("img").each(function(e){
                if(!$(this).hasClass('img-fluid') && !$(this).is("#img-gap-footer")){
                    $(this).addClass('img-fluid')
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>


    .text-estado{
    	max-height: 75px !important;
        width:100%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom:12px;
    }


    .big{
    	height: auto;
        margin-bottom:15px;
    }


    .text-estado, .big{
    	cursor:pointer;
        width:100%;
        padding:5px;
        overflow:hidden
    }
    
    .text-estado:hover, .big:hover{
    	-webkit-box-shadow: 0px 0px 21px -2px rgba(158,158,158,1);
        -moz-box-shadow: 0px 0px 21px -2px rgba(158,158,158,1);
        box-shadow: 0px 0px 21px -2px rgba(158,158,158,1);
    }

    .redond-right{
        border-radius: 10px 0 0 10px !important;
    }

    .btn-coment,.lb-coment{
        height:25px !important;
    }
    .redond-left{
        border-radius: 0 10px 10px 0 !important;
    }
    .ol{
        width: 350px;
        border-radius: 10px;
    }

    .ol span{
        width: 350px;position: absolute;
    }

    .ol p{
        margin-left: 15px;
    }


    .text-comment{
        font-family: 'Roboto', sans-serif;
    }
    

    .box{
        overflow:hidden
    }
</style>