<template>
    <button @click="toggle()"  
        :class="getBtnClases"
        >
        <i :class="getIconClases"></i>    {{item.likes.count}}
        {{getText}}
    </button>
</template>

<script>
export default {
    props:{
        item:{
            type:Object,
            required: true
        },
        url:{
            type: String,
            required: true
        },
        textColor:{
            type:String,
            required:true
        }
    },
    methods:{
        toggle(){
            let method = this.item.likes.is_liked ? 'delete' : 'get';
            axios[method](this.url)
            .then(resp =>{
                this.item.likes.is_liked = !this.item.likes.is_liked;
                if(this.item.likes.is_liked){
                    this.item.likes.count++;
                }else{
                    this.item.likes.count--;
                }
            })
            .catch(err =>{
                console.error(err.response.data)
            })
        }
    },
    computed:{
        getText(){
            return this.item.likes.is_liked ? 'No me gusta' : 'Me gusta';
        },
        getBtnClases(){
            return [
                this.item.likes.is_liked ? this.textColor: 'text-secondary',
                'btn', 'btn-sm','pt-0'
            ]
        },
        getIconClases(){
            return [
                this.item.likes.is_liked ? 'mdi-thumb-up': 'mdi-thumb-up-outline',
                'mdi', 'mr-1'
            ]
        }
    }
};
</script>
<style lang="scss" scoped>
    .comments-like-btn{
        .getText { display:none}
    }
</style>
