<template>
    <div>
        <v-select
            :filterable="false"
            :options="options"
            @search="onSearch"
            label="code"
            multiple
            @select="onSelect"
            @input="onChange"
        />

        <input
            type="hidden"
            :value="selected"
            name="foo"
            v-if="selected"
        />
    </div>
</template>

<script>
import vSelect from "vue-select";
export default {
    name: "Vselect",
    data() {
        return {
            options: [],
            selected: []
        };
    },
    components: {
        vSelect
    },
    mounted() {
        console.log("Component mounted.");

    },
    methods: {
        onSearch(search, loading) {
            loading(true);
            this.search(loading, search, this);
        },
        search: (loading, search, vm) => {
            axios
                .get("/search-unspsc/" + search)
                .then(response => {
                    vm.options = response.data;
                    loading(false);
                })
                .catch(() => {
                    loading(false);
                });
        },
        onSelect(event){
            console.log(event)
        },
        onChange(event){
            this.selected = [];
            event.forEach(element => {
                this.selected.push(element.id);
            });
            console.log(this.selected)
        }
        
    }
};
</script>
