<template>
    <div>
        <v-select
            :filterable="false"
            :options="options"
            @search="onSearch"
            label="code"
            v-model="selected"
        />
        <input
            type="hidden"
            :value="selected.code"
            name="foo"
            v-if="selected"
        />
    </div>
</template>

<script>
import vSelect from "vue-select";
export default {
    name: "Vselect",
    data() {
        return {
            options: [],
            selected: ""
        };
    },
    components: {
        vSelect
    },
    mounted() {
        console.log("Component mounted.");
    },
    methods: {
        onSearch(search, loading) {
            loading(true);
            this.search(loading, search, this);
        },
        search: (loading, search, vm) => {
            axios
                .get("/search-unspsc/" + search)
                .then(response => {
                    vm.options = response.data;
                    loading(false);
                })
                .catch(() => {
                    loading(false);
                });
        }
    }
};
</script>
