<template>
    <div>
        <form>
            <div class="row my-3">
                <div class="input-group col-12">
                    <label class="input-group-text col-sm-4 bg-light">{{proyecto.tipo_terceros}}: </label>
                     <select v-model="terceroIndex" class="form-control col-sm-9">
                        <option v-for="(tercero, index) in terceros_proyecto" :value="index">{{tercero.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="input-group col-12">
                    <label class="input-group-text col-sm-3 bg-light">{{proyecto.tipo_nucleo}}: </label>
                     <select v-model="institutoIndex" class="form-control col-sm-9">
                        <option :value="-1">Sin {{proyecto.tipo_nucleo}}</option>
                        <option v-for="(inst, index) in institutos" :value="index">{{inst.nombre}}</option>
                     </select>
                 </div>
            </div>
            <div class="row my-3">
                <div class="input-group col-12">
                    <label class="input-group-text col-sm-3 bg-light">{{proyecto.tipo_lugar}}: </label>
                     <select v-model="sedeIndex" class="form-control col-sm-9">
                        <option v-for="(sede, index) in sedes" :value="index">{{sede.nombre}}</option>
                     </select>
                 </div>
            </div>
            <div class="row my-3">
                <div class="input-group col-12">
                   <label class="input-group-text col-sm-4 bg-light">Departamento: </label>
                    <input type="text" v-model="sede.departamento" class="form-control col-sm-9" readonly>
                </div>
            </div>
            <div class="row my-3">
                <div class="input-group col-12">
                    <label class="input-group-text col-sm-3 bg-light">Ciudad: </label>
                     <input type="text" v-model="sede.ciudad" class="form-control col-sm-9" readonly>
                 </div>
            </div>
            <div class="row my-3">
                <div class="input-group col-12">
                    <label class="input-group-text col-sm-4 bg-light">Dirección: </label>
                     <input type="text" v-model="sede.direccion" class="form-control col-sm-9" readonly>
                 </div>
            </div>
            <div class="row my-3">
                <div class="input-group col-12">
                   <label class="input-group-text col-sm-3 bg-light">Barrio: </label>
                    <input type="text" v-model="sede.barrio" class="form-control col-sm-9" readonly>
                </div>
            </div>
            <div class="row my-3">
                <div class="input-group col-12">
                   <label class="input-group-text col-3 bg-light">Fecha: </label>
                    <input type="date" class="form-control" v-model="fecha_visita" required>
                </div>
            </div>
            <div class="row my-3">
                <div class="input-group col-12">
                    <label class="input-group-text col-sm-3 bg-light">Inspector: </label>
                     <select v-model="personalIndex" class="form-control col-sm-9">
                            <option :value="index" v-for="(personal, index) in personal_proyecto">{{personal.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="input-group col-12">
                    <label class="input-group-text col-sm-4 bg-light">Grupo de formularios: </label>
                     <select v-model="gFormularioIndex" class="form-control col-sm-9">
                        <option :value="index" v-for="(gf, index) in grupo_formularios">{{gf.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="input-group col-12">
                   <label class="input-group-text col-sm-3 bg-light">Observación:</label>
                    <input type="text" v-model="observacion" class="form-control col-sm-9">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" @click="crearVisita()">Crear</button>
                </div>
            </div>
        </form>
    </div>
</template>
<script>

export default {
    props:{
        proyecto:{
            type:Object,
            required:true
        }
    },
    data(){
        return {
          
        }
    },
    computed:{
      grupo_formularios(){
        return this.$store.getters.getGrupoFormulariosProyecto;
      },
      personal_proyecto(){
        return this.$store.getters.getPersonalProyecto.inspectores;
      },
      terceros_proyecto(){
        console.log('tp',  this.$store.getters.getTercerosProyecto);
          return  this.$store.getters.getTercerosProyecto.filter(i => i.contarSedes > 0);
      },
      tercero_select_proyecto(){
        this.institutoIndex = -1;
        this.sedeIndex = 0;
        console.log('tps2',  this.$store.getters.getTercerosProyecto[this.terceroIndex]);
        return  this.$store.getters.getTercerosProyecto[this.terceroIndex];
      },
      institutos(){
          return this.tercero_select_proyecto.sedes.filter(i => i.tipo == 'instituto' && i.sedes > 0)
      },
      sedes(){
        return this.institutoIndex < 0  
                ? this.tercero_select_proyecto.sedes.filter(i => i.tipo == 'sede' && i.instituto_id == null) 
                : this.tercero_select_proyecto.sedes.filter(i => i.instituto_id == this.institutos[this.institutoIndex].id);
      },
      sede(){
        console.log('sedes', this.sedes);
        console.log('sedeIndex', this.sedeIndex);
        console.log('sede', this.sedes[this.sedeIndex]);
        return this.sedes[this.sedeIndex];
      },
      datos(){
        return {
          'observacion':this.observacion, 
          'fecha_visita':this.fecha_visita, 
          'sede_id':this.sedes[this.sedeIndex].id, 
          'proyecto_id':this.$store.getters.getProyecto.id, 
          'personal_proyecto_id':this.personal_proyecto[this.personalIndex].id,
          'g_formulario_id':this.grupo_formularios[this.gFormularioIndex].id
        }
      }
    },
    
    methods:{
      crearVisita(){
        this.$store.dispatch('generarVisita', this.datos)
        .then(res => {
          if(res){
            location.reload(true);
          }
        });
      },
      resetIndex(){
        this.institutoIndex = -1;
        this.sedeIndex = 0;
      }
    }
};
</script>
