<template>
  <div>
    <div class="mt-3">
       <button @click="guardarSedes" class="btn btn-primary">Guardar</button>
    </div>
    <hot-table :settings="settings" 
                :data="data"
                ref="wrapper"
                licenseKey="non-commercial-and-evaluation"
    ></hot-table>

  </div>
</template>

<script>
  import { HotTable } from '@handsontable/vue';
  import Handsontable from 'handsontable';

  export default {
    data: function() {
      return {
        settings: {
          colHeaders:this.colHeaders(),
          contextMenu: true,
          rowHeaders: true,
          minSpareRows: 1,
          columns: [
            {},
            {},
            {},
            {},
            {type: 'numeric'},
            {
              type: 'dropdown',
              source: this.listInstitutos(),
              data: [5]
            }
          ]
        },
        data:[['','','','','','sin institucion educativa']]
      };
    },
    components: {
      HotTable
    },
    computed:{
      proyecto(){
        return this.$store.getters.getProyecto;
      }
    },
    methods:{
      listInstitutos(){
        return this.$store.getters.getTerceroInstituciones
      },
      colHeaders(){
          return [this.$store.getters.getProyecto.tipo_lugar, 'Ciudad', 'Barrio', 'Dirección', 'Telefono', this.$store.getters.getProyecto.tipo_nucleo]
      },
      
      guardarSedes(){
        this.$store.dispatch('guardarSedes', this.$refs.wrapper.hotInstance.getSourceData())
        .then((res)=>{
          if(res.status){
            this.data = [['','','','','']];
            this.$store.dispatch('notificationSuccess', {heading:`Importación de ${this.proyecto.tipo_lugar}`, message:'se han creado con exitó'});
            this.$store.commit('setTerceroProyectoSelect', res.data);
            this.$store.commit('setUpdateTerceroDelProyecto', res.data);
          }else{
            this.$store.dispatch('notificationDanger', {heading:`Importación de ${this.proyecto.tipo_lugar}`, message:res.data});
          }
        });
      }
    }
  }
</script>

<style src="../../../../node_modules/handsontable/dist/handsontable.full.css"></style>
