<template>
    <div>
       <div id="accordion" class="mt-4">
           <div class="" id="headingOne">
                <h5 class="mb-0">
                  <span class="pd-2 my-4 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="mdi mdi-menu-right text-primary"></i> 
                    Variables Globales
                  </span>
                </h5>
           </div>
           <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <variables></variables>
                </div>
           </div>

            <div class="mt-3" id="headingTwo">
                <h5 class="mb-0">
                    <span class="collapsed pd-2 my-4" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="mdi mdi-menu-right text-primary"></i>
                        Agregar {{proyect.tipo_terceros}}  
                    </span>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <terceros></terceros>
                </div>
            </div>

            <div class="mt-3" id="headingThree">
                <h5 class="mb-0">
                    <span class="collapsed pd-2 my-4" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="mdi mdi-menu-right text-primary"></i>
                        Parametros  {{proyect.tipo_terceros}}
                    </span>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <parametros></parametros>
                </div>
            </div>

        </div>
    </div>
</template>


<script>
import Variables from './Variables';
import Terceros from './Terceros';
import Parametros from './Parametros';
export default {
    components: {Variables, Terceros, Parametros},
    props:{
        proyecto:{
            type:Object,
            required:true
        }
    },
    computed:{
        proyect(){
            return this.$store.getters.getProyecto
        }
    },
    created(){
        this.$store.commit('setProyecto', this.proyecto)
        this.$store.dispatch('AllTerceros');
        this.$store.dispatch('listarTercerosProyecto');
    }
};
</script>
