<template>
    <div class="col-12">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="one-tab" data-toggle="tab" role="tab" aria-controls="One" aria-selected="true" @click="tabActivo = 'sedes'">
                  {{proyecto.tipo_lugar}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="two-tab" data-toggle="tab" role="tab" aria-controls="Two" aria-selected="false" @click="tabActivo = 'instituciones'">
                  {{proyecto.tipo_nucleo}}
                </a>
            </li>
          </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
              <tab-sedes v-if="tabActivo == 'sedes'" ></tab-sedes>  
              <tab-instituciones v-else-if="tabActivo == 'instituciones'"></tab-instituciones>          
          </div>
        </div>
    </div>
</template>

<script>
  import TabSedes  from './TabSedes';
  import TabInstituciones from './TabInstituciones';

  export default {
    data: function() {
      return {
         tabActivo:'sedes'
      };
    },
    components: {
      TabSedes, TabInstituciones
    }, 
    computed:{
        proyecto(){
            return this.$store.getters.getProyecto
        },
        tercero_select_proyecto(){
            return this.$store.getters.getTerceroProyectoSelect;
        },
    }
  }
</script>


