<template>
    <div>
        <li class="list-group-item" v-for="(t_p, i) in terceros_proyecto" :key="i">
            <h4>{{t_p.nombre}}</h4>
            <table class="table">
                <tr>
                    <td>
                        Obligación 
                        <button class="btn btn-link text-danger" @click="openModalParametros(t_p)">
                            <span class="mdi mdi-plus"></span>
                        </button>
                    </td>
                    <td>
                        Cantidad 
                    </td>
                    <td></td>
                </tr>
                <tr v-for="(parametro, index) in t_p.parametros" :key="index">
                    <td>
                        <span v-if="formActualizar && idActualizar == index">
                            <input v-model="obligacionActualizar" type="text" class="form-control">
                        </span>
                        <span v-else>
                            {{ parametro.obligacion}}
                        </span>
                    </td>
                    <td>
                        <span v-if="formActualizar && idActualizar == index">
                            <input v-model="cantidadActualizar" type="text" class="form-control">
                        </span>
                        <span v-else>
                            {{parametro.cantidad}}
                        </span>
                    </td>
                    <td>
                        <span v-if="formActualizar && idActualizar == index">
                            <button @click="guardarActualizacion(i, index)" class="btn btn-success">Guardar</button>
                        </span>
                        <span v-else>
                            <button class="btn btn-inverse-secondary btn-sm" @click="verFormActualizar(i,index)" :title="`Editar Parametro ${parametro.obligacion}`">
                                <span class="mdi mdi-pencil-box-outline"></span>
                            </button>
                            <button class="btn btn-inverse-secondary btn-sm" @click="eliminarParametro(i,index)" :title="`Eliminar Parametro ${parametro.obligacion}`">
                                <span class="mdi mdi-close-box-outline"></span>
                            </button>
                        </span>
                    </td>
                </tr>
            </table>
        </li>
        <div class="modal" id="modalAddParametro">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Crear parametro </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-7 input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-dark" id="basic-addon1">
                                Obligación
                            </span>
                        </div>
                        <input type="text" v-model="obligacion" class="form-control">
                    </div>
                    <div class="col-md-7 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-dark" id="basic-addon1">
                                Cantidad
                            </span>
                        </div>
                        <input type="text" v-model="cantidad" class="form-control">
                    </div>
                </div>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button class ="btn btn-primary" @click="agregarParametro">Agregar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              </div>

            </div>
          </div>
        </div>
    </div>
</template>
<script>

export default {
    computed:{
        proyecto(){
            return this.$store.getters.getProyecto
        },
        terceros_proyecto(){
            return this.$store.getters.getTercerosProyecto
        }
    },
    data(){
        return {
            obligacion:'',
            cantidad:0,
            formActualizar: false,
            idActualizar: -1,
            obligacionActualizar: '',
            cantidadActualizar: '',
        }
    },
    methods:{
        openModalParametros(t_p){
           $('#modalAddParametro').modal();
           this.$store.commit('setTerceroProyectoSelect', t_p);
           //this.$store.commit('setTercero', this.terceros_proyecto[index].id);
        },
        agregarParametro(){
            if(this.obligacion != '' && this.cantidad > 0){
                this.$store.dispatch('agregarParametroTercero', {obligacion:this.obligacion, cantidad:this.cantidad})
                .then((message)=>{
                    $('#modalAddParametro').modal('hide');
                  this.$store.dispatch('notificationSuccess', {heading:'Actualización de sedes', message:'se han actualizado las sedes'});
                });
            }else{
                this.$store.dispatch('notificationDanger', {
                    heading:'Relacionar Parametros', 
                    message:`el parametro no puede ir vacio y la cantidad debe ser mayor a 0`
                });
            }
        },
        verFormActualizar(i, index){
            this.idActualizar = index;
            this.obligacionActualizar = this.terceros_proyecto[i].parametros[index].obligacion;
            this.cantidadActualizar = this.terceros_proyecto[i].parametros[index].cantidad;
            this.formActualizar = true;
        },
        guardarActualizacion(i, index){
            this.formActualizar = false;
            this.terceros_proyecto[i].parametros[index].obligacion = this.obligacionActualizar;
            this.terceros_proyecto[i].parametros[index].cantidad = this.cantidadActualizar;
            this.$store.dispatch('actualizarParametroTercero', {
                parametro_id:this.terceros_proyecto[i].parametros[index].id,
                datos:{
                    obligacion:this.obligacionActualizar, 
                    cantidad:this.cantidadActualizar
                }
            });
        },
        eliminarParametro(i, index){
            this.$store.dispatch('eliminarParametroTercero', this.terceros_proyecto[i].parametros[index].id);
            this.terceros_proyecto[i].parametros.splice(index, 1);
        }
    }
};
</script>
