<template>
  <div>
    <div>
       <button @click="actualizarSedes" class="btn btn-primary">Actualizar</button>
    </div>
    <hot-table :settings="settings" 
                :data="datos"
                ref="wrapper"
                licenseKey="non-commercial-and-evaluation"
    ></hot-table>
  </div>
</template>

<script>
  import { HotTable } from '@handsontable/vue';
  import Handsontable from 'handsontable';

  export default {
    data: function() {
      return {
        settings: {
          colHeaders:['id', 'tipo', 'Instituciones Educativas', 'Ciudad', 'Barrio', 'Dirección', 'Telefono'],
          contextMenu: true,
          rowHeaders: true,
          columns: [
             {data: "id", readOnly: true},
             {data: "tipo", readOnly: true},
             {data: "nombre"},
             {data: "ciudad"},
             {data: "barrio"},
             {data: "direccion"},
             {data: "telefono"}
         ],
        },
        
      };
    },
    components: {
      HotTable
    },
    computed:{
      datos(){
        let sedes = this.$store.getters.getTerceroProyectoSelect.sedes
        return sedes.length == 0 
                ? [['','','','','','','']] 
                : sedes.filter(i => i.tipo == 'instituto')
      },
      proyecto(){
        return this.$store.getters.getProyecto;
      }
    },
    methods:{
      actualizarSedes(){
        this.$store.dispatch('actualizarInstituciones', this.$refs.wrapper.hotInstance.getSourceData())
        .then((res)=>{
         if(res.status){
            this.$store.dispatch('notificationSuccess', {heading:`Actualización de ${this.proyecto.tipo_nucleo}`, message:'se han creado con exitó'});
            this.$store.commit('setTerceroProyectoSelect', res.data);
            this.$store.commit('setUpdateTerceroDelProyecto', res.data);
          }else{
            this.$store.dispatch('notificationDanger', {heading:`Actualización de ${this.proyecto.tipo_nucleo}`, message:res.data});
          }
        });
      }
    }
  }
</script>

<style src="../../../../node_modules/handsontable/dist/handsontable.full.css"></style>
