<template>
  <div>
    <div>
       <button @click="actualizarSedes" class="btn btn-primary">Actualizar</button>
    </div>
    <hot-table :settings="settings" 
                :data="datos"
                ref="wrapper"
                licenseKey="non-commercial-and-evaluation"
    ></hot-table>
  </div>
</template>

<script>
  import { HotTable } from '@handsontable/vue';
  import Handsontable from 'handsontable';

  export default {
    data: function() {
      return {
        settings: {
          colHeaders:this.colHeaders(),
          contextMenu: true,
          rowHeaders: true,
          columns: [
             {data: "id", readOnly: true},
             {data: "tipo", readOnly: true},
             {data: "nombre"},
             {data: "ciudad"},
             {data: "barrio"},
             {data: "direccion"},
             {data: "telefono"},
             {
              data: "instituto",
              type: 'dropdown',
              source: this.listInstitutos()
            }
         ],
        },
        
      };
    },
    components: {
      HotTable
    },
    computed:{
      datos(){
        let sedes = this.$store.getters.getTerceroProyectoSelect.sedes
        return sedes.length == 0 
                ? [['','','','','','','','']] 
                : sedes.filter(i => i.tipo == 'sede')
      },
      proyecto(){
        return this.$store.getters.getProyecto;
      }
    },
    methods:{
      colHeaders(){
        return ['id','tipo',this.$store.getters.getProyecto.tipo_lugar, 'Ciudad', 'Barrio', 'Dirección', 'Telefono', this.$store.getters.getProyecto.tipo_nucleo];
      },
      listInstitutos(){
        return this.$store.getters.getTerceroInstituciones
      },
      actualizarSedes(){
        this.$store.dispatch('actualizarSedes', this.$refs.wrapper.hotInstance.getSourceData())
        .then((res)=>{
          if(res.status){
            this.$store.dispatch('notificationSuccess', {heading:`Importación de ${this.proyecto.tipo_sede}`, message:'se han creado con exitó'});
            this.$store.commit('setTerceroProyectoSelect', res.data);
            this.$store.commit('setUpdateTerceroDelProyecto', res.data);
          }else{
            this.$store.dispatch('notificationDanger', {heading:`Importación de ${this.proyecto.tipo_sede}`, message:res.data});
          }
        });
      }
    }
  }
</script>

<style src="../../../../node_modules/handsontable/dist/handsontable.full.css"></style>
