<template>
    <div>
        <div class="row">
            <button class="btn btn-primary" v-if="openSedes == 'listTerceros'" @click="openModalFormTerceros">
                Relacionar {{proyecto.tipo_terceros}} +
            </button>
            <button class="btn btn-inverse-primary btn-sm" v-else @click="openSedes = 'listTerceros'">
                <span class="mdi mdi-arrow-left-bold"></span>
                Atras
            </button>
        </div>

        <div class="row" v-if="openSedes == 'listTerceros'">
            <table class="table">
                <tbody>
                    <tr v-for="(t_p, index) in terceros_proyecto" :key="index">
                        <td> 
                            {{t_p.nombre}} ({{t_p.contarSedes}})
                        </td>
                        <td>
                            <button class="btn btn-inverse-secondary btn-sm" @click="openListSedes(t_p, 'listSedes')" :title="`Ver Sedes de ${t_p.nombre}`">
                                <span class="mdi mdi-binoculars"></span>
                            </button>
                            <button class="btn btn-inverse-secondary btn-sm" @click="openImportarSedes(t_p, 'importarInstitutos')" :title="`Importar Sedes de ${t_p.nombre}`">
                                <span class="mdi mdi mdi-bank"></span>
                            </button>
                            <button class="btn btn-inverse-secondary btn-sm" @click="openImportarSedes(t_p, 'importarSedes')" :title="`Importar Sedes de ${t_p.nombre}`">
                                <span class="mdi mdi-file-import"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" v-else>
            <div class="my-2">
                <h5>{{proyecto.tipo_terceros}} {{tercero_select_proyecto.nombre}}</h5>
            </div>
            <table-importar-sedes v-if="openSedes == 'importarSedes'"></table-importar-sedes>
            <table-importar-institutos v-if="openSedes == 'importarInstitutos'"></table-importar-institutos>
            <listar-sedes-instituciones v-else-if="openSedes == 'listSedes'"></listar-sedes-instituciones>
        </div>
        <div class="modal" id="modalAddTercero">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Agregar Contratista</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="input-group">
                    <select v-model="tercero_select" class="form-control col-sm-12">
                        <option v-for="(tercero, index) in terceros" v-bind:value="tercero.id">{{tercero.nombre}}</option>
                    </select>
                </div>
              </div>

                <!-- Modal footer -->
                <div class="row justify-content-md-center">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class ="btn btn-primary" @click="agregarTercero">Agregar</button>
                    </div>
                </div>

            </div>
          </div>
        </div>
    </div>
</template>
<script>

import TableImportarSedes  from './ImportarSedes';
import TableImportarInstitutos  from './ImportarInstitutos';
import ListarSedesInstituciones  from './ListarSedesInstituciones';
export default {
    components:{
        TableImportarSedes, ListarSedesInstituciones, TableImportarInstitutos
    },
    computed:{
        proyecto(){
            return this.$store.getters.getProyecto
        },
        terceros(){
            return this.$store.getters.getTerceros
        },
        terceros_proyecto(){
            return this.$store.getters.getTercerosProyecto
        },
        tercero_select_proyecto(){
            return this.$store.getters.getTerceroProyectoSelect;
        },
    },
    data(){
        return {
            openSedes:'listTerceros',
            tercero_select:1
        }
    },
    methods:{
        
        openModalFormTerceros(){
            this.$store.dispatch('AllTerceros')
            .then(res => {
                $('#modalAddTercero').modal();
            });
        },
        agregarTercero(){
            let repetido = (e) => e.cliente_tercero_id == this.tercero_select;
            console.log('repetido', this.terceros_proyecto.some(repetido));
             if(this.terceros_proyecto.some(repetido)){
                this.$store.dispatch('notificationDanger', {
                    heading:'Relacionar Al proyecto', 
                    message:`el ${this.proyecto.tipo_terceros} ya esta relacionado al proyecto`
                });
             }else{
                this.$store.dispatch('agregarTerceroProyecto', {cliente_tercero_id:this.tercero_select})
                .then(res => {
                    this.$store.dispatch('notificationSuccess', {
                        heading:'Relacionar Al proyecto', 
                        message:`se han relacionado el ${this.proyecto.tipo_terceros} al proyecto`
                    });
                    $('#modalAddTercero').modal('hide');
                });
            }
        },
        openImportarSedes(t_p, select){
            this.$store.commit('setTerceroProyectoSelect', t_p);
            this.openSedes = select;
        },                                              
        openListSedes(t_p, select){
            if(t_p.contarSedes > 0){
                this.$store.commit('setTerceroProyectoSelect', t_p);
                this.openSedes = select;
            }else{
                this.$store.dispatch('notificationDanger', {heading:'Listar de sedes', message:'No tiene sedes para listar'});
            }
        }

    }
};
</script>
