<template>
    <div class="row">
        <div class="mb-4 mt-3 col-md-8">
          <div class="row">
            <div class="input-group col-md-12">
              <div class="input-group-prepend">
                <span class="input-group-text text-dark" id="basic-addon1">Alias Terceros</span>
              </div>
              <select class="form-control col-12" v-model="proyecto.tipo_terceros" @change="updateFieldProyecto('tipo_terceros')">
                  <option v-for="item in array_terceros">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="row mt-2">
            <div class="input-group col-md-7">
              <div class="input-group-prepend">
                <span class="input-group-text text-dark" id="basic-addon1">Alias Sedes</span>
              </div>
              <select class="form-control" v-model="proyecto.tipo_lugar" @change="updateFieldProyecto('tipo_lugar')">
                  <option v-for="item in array_sedes">{{item}}</option>
              </select>
            </div>
            <div class="custom-control custom-switch col-3 align-self-center ml-5">
                <input type="checkbox" 
                       class="custom-control-input" 
                       v-model="checkbox_nucleo"
                       id="switch1"
                />
                <label for="switch1" class="custom-control-label">Pertenece a un nucleo</label>
            </div>
          </div>
          <div class="row mt-2" v-if="checkbox_nucleo" >
             <div class="input-group col-md-12">
              <div class="input-group-prepend">
                <span class="input-group-text text-dark" id="basic-addon1">Alias Nucleo</span>
              </div>
              <select class="form-control col-12" v-model="proyecto.tipo_nucleo" @change="updateFieldProyecto('tipo_nucleo')">
                  <option v-for="item in array_nucleo">{{item}}</option>
              </select>
            </div>
          </div>
        </div>
    </div>
</template>


<script>

const TipoTerceros = ['Clientes', 'Contratista', 'Constructor', 'EAS - Entidad Administrativa de Servicio', 'Operador'];
const TipoSedes = ['Obra', 'Sede', 'UTS - Unidad de Transformación Social'];
const Tiponucleo = ['institución educativa'];

export default {
    
    data(){
        return{
          array_terceros:TipoTerceros,
          array_sedes:TipoSedes,
          array_nucleo:Tiponucleo,
          checkbox_nucleo:false
        }
    },
    computed:{
        proyecto(){
            return this.$store.getters.getProyecto
        }
    },
    mounted(){
      this.checkbox_nucleo = this.$store.getters.getProyecto.tipo_nucleo == null ? false: true;
    },
    methods:{
      updateFieldProyecto(field){
            this.$store.dispatch('updateFieldProyecto',{
                url :`/proyecto/${this.proyecto.id}/field/${field}`,
                datos:{field: this.proyecto[field]}
            }).then((message)=>{
              this.$store.dispatch('notificationSuccess', {heading:'Actualizacion en proyectos', message:message});
            });
      }
    }

};
</script>
